
header {
    width: 600px;
    margin-bottom: 50px;
    position: relative;
}
header #note {
    position: absolute;
    left: 300px;
    top: 60px;
    font-size: small;
    color: gray;
}

#textarea-container {
    width: 0 auto;
}
#textarea-container textarea {
    width: 40%;
    height: 300px;
}
 #buttons button {
    margin-bottom: 10px;
    font-size: large;
}
ul {
    margin: 0 0;
    padding: 0 0;
}
ul li {
    list-style: none;
}
