<!DOCTYPE html>
<html ng-app='nvcheck-dict-generator'>
  <head>
    <meta http-equiv="content-type" content="text/html; charset=utf-8">
    <title>Nvcheck dict.yml Generator</title>

    <link rel="stylesheet" href="css/index.css" type="text/css" media="screen" charset="utf-8">

    <script src='https://cdnjs.cloudflare.com/ajax/libs/js-yaml/3.4.2/js-yaml.min.js'></script>
    <script src='js/angular.min.js'></script>
    <script src='js/index.js'></script>
  </head>
  <body ng-controller='indexCtrl'>

    <header>
      <h1><a href='https://github.com/koron/nvcheck'>Nvcheck</a> dict.yml Generator</h1>
      <div id='note'>Get a sample from <a href='https://github.com/vim-jp/vimdoc-ja-working/blob/master/dict.yml'>here</a>.</div>
    </header>

    <div id='textarea-container'>
      <div id='buttons'>
        <button ng-click='load()'>Load</button>
        <button ng-click='reset()'>Reset</button>
      </div>

      <textarea class='input' ng-model='inputdict' placeholder='Paste your dict.yaml!'></textarea>
      <textarea class='output' ng-if='loaded' readonly>{{outputdict}}</textarea>
    </div>

    <ul>
      <li ng-if='section.type == "words"' ng-repeat='section in sections'>
        <hr>
        <div ng-repeat='word in section.words'>
          <input ng-attr-id='{{$index}}' type='radio' ng-attr-name='{{section.groupName}}' ng-checked='word.checked' ng-click='checkChanged(section.groupName, $parent.$index, $index)'>
          <label for='{{$index}}'>{{word.string}}</label>
        </div>
      </li>
    </ul>
  </body>
</html>
